.gc-x{
  display: grid;
 /* grid-template-columns: repeat(2,1fr); */
}
/* .o-c{
  margin-left:20rem;
} */
.ob{
  height: 100vh;
  overflow-y: scroll;
  width: 100rem;
  overflow-x:hidden;
}
.t-n{
  text-decoration: none;
}